@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  /* background: linear-gradient(#Ffdd74,white); */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* Fonts */
@font-face {
  font-family: 'Poppins-Regular';
  src: url('../app/asset/fonts/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../app/asset/fonts/Poppins-Bold.ttf');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Josefin-Slab';
  src: url('../app/asset/fonts/JosefinSlab-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Lato';
  src: url('../app/asset/fonts/Lato-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
